/themes/**
!/themes/hello-elementor-child/
!/themes/hello-elementor-child/**

/mu-plugins/**
!/mu-plugins/cas-core/
!/mu-plugins/cas-core/**

/plugins/**
!/plugins/
!/plugins/cas-*/
!/plugins/cas-*/**

/uploads/**
/cache/**
/upgrade/**

node_modules/
vendor/
dist/
build/
*.map
*.log
*.zip
.vscode/
.DS_Store
Thumbs.db
